body {
    font-family: 'Amiri', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 600px;
}

h2 {
    margin-bottom: 20px;
}

.question {
    margin-bottom: 20px;
}

button {
    font-size: 1em;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
}

.true {
    background-color: #00aa00;
    color: white;
}

.false {
    background-color: #ff0000;
    color: white;
}

.neutral {
    background-color: #008CBA;
    color: white;
}

#submitButton {
    font-size: 1.2em;
    padding: 10px 40px;
    margin-top: 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
}